/*

@import
$var
@mixin & @include

@extend

grouping

*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100vh;
  color: #fff;
  overflow: hidden; }

#coming #soon #countdown .flip-clock-dot {
  background-color: #ffe447; }

#coming #logo, #coming #soon #countdown span, footer ul a span:hover, footer p a#moi {
  color: #ffe447; }

/* PARTICLES *\
\*************/
#particles-js {
  background-color: #252424; }

/* COMING *\
\**********/
#coming #soon {
  position: absolute;
  right: 50px;
  left: 50px;
  top: 120px; }
  #coming #soon p.display-4 {
    color: #72ff62;
    font-size: 3rem; }
  #coming #soon #countdown {
    display: inline-block;
    width: auto;
    margin-top: 4rem !important; }
    #coming #soon #countdown span {
      font-size: 1.4rem; }
    #coming #soon #countdown .flip-clock-label {
      width: 120px;
      right: -128px; }
#coming #travel {
  position: absolute;
  right: 40px;
  left: 40px;
  top: 185px; }
#coming #btns {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 120px;
  width: 100%; }
  #coming #btns button {
    cursor: pointer; }

/* FOOTER *\
\**********/
footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 15px;
  background-color: #191919;
  overflow: hidden;
  font-size: 1.1rem; }
  footer #btns {
    margin-top: -50px !important; }
  footer ul {
    margin: 0; }
    footer ul li.list-inline-item:not(:last-child) {
      margin-right: 10px; }
    footer ul a span {
      color: #fff;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
  footer p {
    margin: 0; }
    footer p span.fa-heart {
      color: #72ff62; }

/* #overlay *\
\************/
#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  margin-bottom: 30vh;
  background-color: transparent; }

@media (max-width: 991px) {
  #coming #soon {
    top: 180px !important; }
    #coming #soon p.display-3 {
      font-size: 2.8rem !important; }
    #coming #soon p.lead {
      font-size: 1.1rem !important; }

  footer {
    font-size: 1.1rem;
    height: 50px;
    padding-top: 12px; }
    footer ul .list-inline-item:not(:last-child) {
      margin-right: 7px; } }
@media (max-width: 767px) {
  #coming #logo .h2 {
    font-size: 1.85rem; }
  #coming #btns .btn-sm {
    font-size: .75rem; }
  #coming #soon {
    top: 120px !important; }
    #coming #soon p.display-3 {
      font-size: 2.6rem !important; }
    #coming #soon p.lead {
      font-size: .8rem !important; }
  #coming #travel {
    right: 20px;
    left: 20px;
    top: 350px; }
    #coming #travel div#earth img {
      width: 110px !important; }
    #coming #travel div#rocket img {
      width: 100px !important;
      margin-top: 10px; }

  footer {
    font-size: 1rem;
    height: 40px;
    padding-top: 11px; }
    footer ul .list-inline-item:not(:last-child) {
      margin-right: 5px; } }
/*# sourceMappingURL=style.css.map */
